
<div class="list-group">

    <a href="#" class="list-group-item"> </a>
    <a href="#" class="list-group-item"> </a>
    <a href="#" class="list-group-item"> </a>
    <a href="#" class="list-group-item"> </a>
    <a href="#" class="list-group-item"> </a>
    <a href="#" class="list-group-item"> </a>
    <a href="#" class="list-group-item"> </a>
    <a href="#" class="list-group-item"> </a>
    <a href="#" class="list-group-item"> </a>
    <a href="#" class="list-group-item"> </a>
    <a href="#" class="list-group-item"> </a>
    <a href="#" class="list-group-item"> </a>

</div>